services:
  db_pg_pyckg:
    image: postgis/postgis:15-3.3
    container_name: postgis
    env_file:
      - ./docker_settings/postgis.env
    networks:
      app_net:
    ports:
      - "35432:5432"
    volumes:
      - db_postgis_vol-generic_python:/var/lib/postgresql

  db_ora_pyckg:
    image: oracleinanutshell/oracle-xe-11g:latest
    container_name: oracle_xe
    volumes:
      - oracle_xe_vol-generic_python:/u01/app/oracle
    networks:
      app_net:
    ports:
      - "35521:1521"
    environment:
      - ORACLE_DISABLE_ASYNCH_IO=true

  gdal_oracle:
    build:
      context: .
      dockerfile: Dockerfile.base
      args:
        - CUSTOM_UID=65535
    image: planolport/gdal_oracle:training
    container_name: gdal_oracle
    volumes:
      - .:/project
      - ${DATA_DIR_DEV:-C:/data}:/project/data
    networks:
      app_net:
    depends_on:
      - db_ora_pyckg
      - db_pg_pyckg

  python_packages_deploy_oracle: &python_packages_base
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - ARG_DOCKER_TAG=training
        - CUSTOM_UID=65535
        - TEST_PYPI=${TEST_PYPI:-0}
    image: planolport/python_gdal_oracle_geopandas:training
    container_name: python_packages_deploy_oracle
    volumes:
      - .:/project
      - ${DATA_DIR_DEV:-C:/data}:/project/data
    env_file:
      - docker_settings/.env.private/.env.minio
      - docker_settings/.env.private/.env.GISHISREP
    networks:
      app_net:
    depends_on:
      - db_ora_pyckg
      - db_pg_pyckg

  python_packages_deploy_no_oracle:
    <<: *python_packages_base
    container_name: python_packages_deploy_no_oracle
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - ARG_DOCKER_TAG=training
        - CUSTOM_UID=65535
        - TEST_PYPI=${TEST_PYPI:-0}
        - ORACLE_AVAILABLE=0
    image: planolport/python_gdal_geopandas:training

  python_packages: &python_packages_dev
    <<: *python_packages_base
    container_name: python_packages_dev
    build:
      context: .
      dockerfile: Dockerfile.dev
      args:
        - ARG_DOCKER_TAG=training
        - CUSTOM_UID=65535
    image: planolport/python_gdal_oracle_geopandas:dev

  python_packages_mamba:
    <<: *python_packages_base
    container_name: python_packages_mamba
    build:
      context: .
      dockerfile: Dockerfile.mamba
      args:
        - NEW_MAMBA_USER=appuser
    image: planolport/mamba_gdal_oracle:training

  python_packages_doc:
    <<: *python_packages_dev
    container_name: python_packages_doc
    volumes:
      - .:/project
    environment:
      - PORT_SERVER_DOC=8095
      - PACKAGES_DOC=apb_cx_oracle_spatial apb_duckdb_utils apb_extra_osgeo_utils apb_extra_utils apb_pandas_utils apb_spatial_utils
    ports:
      - 8095:8095
    command: /bin/bash -c "/project/docs/build_doc_and_serve.sh"

  build_python_packages:
    container_name: build_python_packages
    image: python:3.12-alpine
    volumes:
      - .:/project
    networks:
      app_net:
    command: /project/build_pckg.sh ${PACKAGE_FOLDER} ${PYPI_API_TOKEN} ${SERVER_PYPI:-testpypi}

networks:
  app_net:
    driver: bridge

volumes: 
  oracle_xe_vol-generic_python:
    external: True
  db_postgis_vol-generic_python:
    external: True