{% extends "default/index.html.jinja2" %}

{% block title %}Python library generic packages APB{% endblock %}

{% block content %}
   <header class="pdoc">
        {% block logo %}
            {% if logo %}
                {% if logo_link %}<a href="{{ logo_link }}">{% endif %}
                <img src="{{ logo }}" alt="project logo"/>
                {% if logo_link %}</a>{% endif %}
            {% else %}
                <a href="https://pdoc.dev">
                    <img src="data:image/svg+xml,{% filter urlencode %}{% include "resources/pdoc-logo.svg" %}{% endfilter %}"
                         alt="pdoc"/>
                </a>
            {% endif %}
        {% endblock %}
        {% if search %}
            <input type="search" placeholder="Search API Documentation..." aria-label="search box">
        {% endif %}
    </header>
    <main class="pdoc">
    {% if search %}
        {% include "search.html.jinja2" %}
    {% endif %}

    {% filter to_html %}
## Python library for GIS, Oracle spatial and other miscellaneous utilities
Python packages developed by the years as requirements for my different projects as GIS developer with `QGIS`, `ESRI`,
`Oracle`, `Postgis`, and other technologies used in this kind of projects with spatial data. `extra_utils`

### Packages:
- [*cx_oracle_spatial*](./cx_oracle_spatial.html)
  Python modules to add spatial capabilities to cx_Oracle

- [*extra_osgeo_utils*](./extra_osgeo_utils.html)
  Python modules to do different stuff with spatial data using api OSGEO/GDAL

- [*extra_utils*](./extra_utils.html)
  Python modules to do different stuff about typical use cases in a python program

- [*pandas_utils*](./pandas_utils.html)
  Python modules to add functionality over pandas and geopandas

- [*spatial_utils*](./spatial_utils.html)
  Python modules to do different stuff with spatial data
    {% endfilter %}

    </main>
    {% include "search.html.jinja2" %}
{% endblock %}